<a href="https://colab.research.google.com/github/adityajain2407/DAV-1-Feb23-Tue/blob/main/08_pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
!gdown 1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
!gdown 1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
movies = pd.read_csv('movies.csv', index_col=0)
directors = pd.read_csv('directors.csv',index_col=0)
data = movies.merge(directors, how='left', left_on='director_id',right_on='id')
data.drop(['director_id','id_y'],axis=1,inplace=True)

Downloading...
From: https://drive.google.com/uc?id=1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 118MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 123MB/s]

In [2]:
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male

In [3]:
def encode(g):
  if g == "Male":
    return 0
  else:
    return 1

In [4]:
data["gender"] = data["gender"].apply(encode) #axis = 0

In [5]:
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0

In [6]:
data[["revenue" , "budget"]].apply(np.sum)

revenue    209866997305
budget      70353617179
dtype: int64

In [7]:
data[["revenue" , "budget"]].apply(np.sum, axis = 1)

0       3024965087
1       1261000000
2       1125674609
3       1334939099
4       1148871626
           ...
1460        321952
1461       3178130
1462             0
1463             0
1464       2260920
Length: 1465, dtype: int64

In [8]:
def prof(x):
  return x["revenue"] - x["budget"]

In [9]:
data["profit"] = data[["revenue" , "budget"]].apply(prof, axis = 1)

In [10]:
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0,632871626

In [11]:
import pandas as pd
import numpy as np
!gdown 1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
!gdown 1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
movies = pd.read_csv('movies.csv', index_col=0)
directors = pd.read_csv('directors.csv',index_col=0)
data = movies.merge(directors, how='left', left_on='director_id',right_on='id')
data.drop(['director_id','id_y'],axis=1,inplace=True)

Downloading...
From: https://drive.google.com/uc?id=1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 56.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 78.4MB/s]

In [12]:
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male

In [13]:
data.loc[ data["director_name"] == "Christopher Nolan", ["title"]]

                      title
3     The Dark Knight Rises
45          The Dark Knight
58             Interstellar
59                Inception
74            Batman Begins
565                Insomnia
641            The Prestige
1341                Memento

In [14]:
data.loc[ data["director_name"] == "Christopher Nolan", ["title"]].count()

title    8
dtype: int64

In [15]:
data["director_name"].value_counts()

Steven Spielberg      26
Martin Scorsese       19
Clint Eastwood        19
Woody Allen           18
Ridley Scott          16
                      ..
Tim Hill               5
Jonathan Liebesman     5
Roman Polanski         5
Larry Charles          5
Nicole Holofcener      5
Name: director_name, Length: 199, dtype: int64


#### What is Grouping ?

Simply it could be understood through the terms - Split, apply, combine

<img src="https://learning.oreilly.com/api/v2/epubs/urn:orm:book:9781491912126/files/assets/pyds_03in01.png" height = 350/>

In [16]:
data.groupby('director_name')

In [17]:
data.groupby('director_name').ngroups

199

In [18]:
data.groupby('director_name').groups

{'Adam McKay': [176, 323, 366, 505, 839, 916], 'Adam Shankman': [265, 300, 350, 404, 458, 843, 999, 1231], 'Alejandro González Iñárritu': [106, 749, 1015, 1034, 1077, 1405], 'Alex Proyas': [95, 159, 514, 671, 873], 'Alexander Payne': [793, 1006, 1101, 1211, 1281], 'Andrew Adamson': [11, 43, 328, 501, 947], 'Andrew Niccol': [533, 603, 701, 722, 1439], 'Andrzej Bartkowiak': [349, 549, 754, 911, 924], 'Andy Fickman': [517, 681, 909, 926, 973, 1023], 'Andy Tennant': [314, 320, 464, 593, 676, 885], 'Ang Lee': [99, 134, 748, 840, 1089, 1110, 1132, 1184], 'Anne Fletcher': [610, 650, 736, 789, 1206], 'Antoine Fuqua': [310, 338, 424, 467, 576, 808, 818, 1105], 'Atom Egoyan': [946, 1128, 1164, 1194, 1347, 1416], 'Barry Levinson': [313, 319, 471, 594, 878, 898, 1013, 1037, 1082, 1143, 1185, 1345, 1378], 'Barry Sonnenfeld': [13, 48, 90, 205, 591, 778, 783], 'Ben Stiller': [209, 212, 547, 562, 850], 'Bill Condon': [102, 307, 902, 1233, 1381], 'Bobby Farrelly': [352, 356, 481, 498, 624, 630, 654, 806, 928, 972, 1111], 'Brad Anderson': [1163, 1197, 1350, 1419, 1430], 'Brett Ratner': [24, 39, 188, 207, 238, 292, 405, 456, 920], 'Brian De Palma': [228, 255, 318, 439, 747, 905, 919, 1088, 1232, 1261, 1317, 1354], 'Brian Helgeland': [512, 607, 623, 742, 933], 'Brian Levant': [418, 449, 568, 761, 860, 1003], 'Brian Robbins': [416, 441, 669, 962, 988, 1115], 'Bryan Singer': [6, 32, 33, 44, 122, 216, 297, 1326], 'Cameron Crowe': [335, 434, 488, 503, 513, 698], 'Catherine Hardwicke': [602, 695, 724, 937, 1406, 1412], 'Chris Columbus': [117, 167, 204, 218, 229, 509, 656, 897, 996, 1086, 1129], 'Chris Weitz': [17, 500, 794, 869, 1202, 1267], 'Christopher Nolan': [3, 45, 58, 59, 74, 565, 641, 1341], 'Chuck Russell': [177, 410, 657, 1069, 1097, 1339], 'Clint Eastwood': [369, 426, 447, 482, 490, 520, 530, 535, 645, 727, 731, 786, 787, 899, 974, 986, 1167, 1190, 1313], 'Curtis Hanson': [494, 579, 606, 711, 733, 1057, 1310], 'Danny Boyle': [527, 668, 1083, 1085, 1126, 1168, 1287, 1385], 'Darren Aronofsky': [113, 751, 1187, 1328, 1363, 1458], 'Darren Lynn Bousman': [1241, 1243, 1283, 1338, 1440], 'David Ayer': [50, 273, 741, 1024, 1146, 1407], 'David Cronenberg': [541, 767, 994, 1055, 1254, 1268, 1334], 'David Fincher': [62, 213, 253, 383, 398, 478, 522, 555, 618, 785], 'David Gordon Green': [543, 862, 884, 927, 1376, 1418, 1432, 1459], 'David Koepp': [443, 644, 735, 1041, 1209], 'David Lynch': [583, 1161, 1264, 1340, 1456], 'David O. Russell': [422, 556, 609, 896, 982, 989, 1229, 1304], 'David R. Ellis': [582, 634, 756, 888, 934], 'David Zucker': [569, 619, 965, 1052, 1175], 'Dennis Dugan': [217, 260, 267, 293, 303, 718, 780, 977, 1247], 'Donald Petrie': [427, 507, 570, 649, 858, 894, 1106, 1331], 'Doug Liman': [52, 148, 251, 399, 544, 1318, 1451], 'Edward Zwick': [92, 182, 346, 566, 791, 819, 825], 'F. Gary Gray': [308, 402, 491, 523, 697, 833, 1272, 1380], 'Francis Ford Coppola': [487, 559, 622, 646, 772, 1076, 1155, 1253, 1312], 'Francis Lawrence': [63, 72, 109, 120, 679], 'Frank Coraci': [157, 249, 275, 451, 577, 599, 963], 'Frank Oz': [193, 355, 473, 580, 712, 813, 987], 'Garry Marshall': [329, 496, 528, 571, 784, 893, 1029, 1169], 'Gary Fleder': [518, 667, 689, 867, 981, 1165], 'Gary Winick': [258, 797, 798, 804, 1454], 'Gavin O'Connor': [820, 841, 939, 953, 1444], 'George A. Romero': [250, 1066, 1096, 1278, 1367, 1396], 'George Clooney': [343, 450, 831, 966, 1302], 'George Miller': [78, 103, 233, 287, 1250, 1403, 1450], 'Gore Verbinski': [1, 8, 9, 107, 119, 633, 1040], 'Guillermo del Toro': [35, 252, 419, 486, 1118], 'Gus Van Sant': [595, 1018, 1027, 1159, 1240, 1311, 1398], 'Guy Ritchie': [124, 215, 312, 1093, 1225, 1269, 1420], 'Harold Ramis': [425, 431, 558, 586, 788, 1137, 1166, 1325], 'Ivan Reitman': [274, 643, 816, 883, 910, 935, 1134, 1242], 'James Cameron': [0, 19, 170, 173, 344, 1100, 1320], 'James Ivory': [1125, 1152, 1180, 1291, 1293, 1390, 1397], 'James Mangold': [140, 141, 557, 560, 829, 845, 958, 1145], 'James Wan': [30, 617, 1002, 1047, 1337, 1417, 1424], 'Jan de Bont': [155, 224, 231, 270, 781], 'Jason Friedberg': [812, 1010, 1012, 1014, 1036], 'Jason Reitman': [792, 1092, 1213, 1295, 1299], 'Jaume Collet-Serra': [516, 540, 640, 725, 1011, 1189], 'Jay Roach': [195, 359, 389, 397, 461, 703, 859, 1072], 'Jean-Pierre Jeunet': [423, 485, 605, 664, 765], 'Joe Dante': [284, 525, 638, 1226, 1298, 1428], 'Joe Wright': [85, 432, 553, 803, 814, 855], 'Joel Coen': [428, 670, 691, 707, 721, 889, 906, 980, 1157, 1238, 1305], 'Joel Schumacher': [128, 184, 348, 484, 572, 614, 652, 764, 876, 886, 1108, 1230, 1280], 'John Carpenter': [537, 663, 686, 861, 938, 1028, 1080, 1102, 1329, 1371], 'John Glen': [601, 642, 801, 847, 864], 'John Landis': [524, 868, 1276, 1384, 1435], 'John Madden': [457, 882, 1020, 1249, 1257], 'John McTiernan': [127, 214, 244, 351, 534, 563, 648, 782, 838, 1074], 'John Singleton': [294, 489, 732, 796, 1120, 1173, 1316], 'John Whitesell': [499, 632, 763, 1119, 1148], 'John Woo': [131, 142, 264, 371, 420, 675, 1182], 'Jon Favreau': [46, 54, 55, 382, 759, 1346], 'Jon M. Chu': [100, 225, 810, 1099, 1186], 'Jon Turteltaub': [64, 180, 372, 480, 760, 846, 1171], 'Jonathan Demme': [277, 493, 1000, 1123, 1215], 'Jonathan Liebesman': [81, 143, 339, 1117, 1301], 'Judd Apatow': [321, 710, 717, 865, 881], 'Justin Lin': [38, 123, 246, 1437, 1447], 'Kenneth Branagh': [80, 197, 421, 879, 1094, 1277, 1288], 'Kenny Ortega': [412, 852, 1228, 1315, 1365], 'Kevin Reynolds': [53, 502, 639, 1019, 1059], ...}

In [19]:
data.groupby('director_name').get_group('Adam McKay')

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
176,43882,100000000,24,170432927,The Other Guys,6.1,1383,2010,Aug,Friday,Adam McKay,Male
323,44151,72500000,12,162966177,Talladega Nights: The Ballad of Ricky Bobby,6.2,491,2006,Aug,Friday,Adam McKay,Male
366,44236,65000000,22,128107642,Step Brothers,6.5,1062,2008,Jul,Friday,Adam McKay,Male
505,44503,50000000,38,173649015,Anchorman 2: The Legend Continues,6.0,923,2013,Dec,Wednesday,Adam McKay,Male
839,45301,28000000,57,133346506,The Big Short,7.3,2607,2015,Dec,Friday,Adam McKay,Male
916,45443,26000000,29,90574188,Anchorman: The Legend of Ron Burgundy,6.7,1493,2004,Jul,Friday,Adam McKay,Male

In [20]:
data.groupby('director_name')['title'].count() #complete this to get same oputput as value_counts() --> 5 mins

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [21]:
data.groupby("director_name")["year"].aggregate(["min" , "max"])

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [22]:
data.groupby("director_name")["year"].aggregate(["min" , "max"]).reset_index()

                   director_name   min   max
0                     Adam McKay  2004  2015
1                  Adam Shankman  2001  2012
2    Alejandro González Iñárritu  2000  2015
3                    Alex Proyas  1994  2016
4                Alexander Payne  1999  2013
..                           ...   ...   ...
194                   Wes Craven  1984  2011
195            Wolfgang Petersen  1981  2006
196                  Woody Allen  1977  2013
197                  Zack Snyder  2004  2016
198                  Zhang Yimou  2002  2014

[199 rows x 3 columns]

In [23]:
data_dir_budget = data.groupby("director_name")["budget"].max()

In [24]:
data_dir_budget.head()

director_name
Adam McKay                     100000000
Adam Shankman                   80000000
Alejandro González Iñárritu    135000000
Alex Proyas                    140000000
Alexander Payne                 30000000
Name: budget, dtype: int64

In [25]:
data_dir_budget = data.groupby("director_name")["budget"].max().reset_index()

In [26]:
print(data_dir_budget)

                   director_name     budget
0                     Adam McKay  100000000
1                  Adam Shankman   80000000
2    Alejandro González Iñárritu  135000000
3                    Alex Proyas  140000000
4                Alexander Payne   30000000
..                           ...        ...
194                   Wes Craven   40000000
195            Wolfgang Petersen  175000000
196                  Woody Allen   30000000
197                  Zack Snyder  250000000
198                  Zhang Yimou   94000000

[199 rows x 2 columns]

In [27]:
names = data_dir_budget.loc[ data_dir_budget["budget"] > 10000000, ["director_name"]]

In [28]:
print(names)

                   director_name
0                     Adam McKay
1                  Adam Shankman
2    Alejandro González Iñárritu
3                    Alex Proyas
4                Alexander Payne
..                           ...
194                   Wes Craven
195            Wolfgang Petersen
196                  Woody Allen
197                  Zack Snyder
198                  Zhang Yimou

[197 rows x 1 columns]

In [29]:
names = data_dir_budget.loc[ data_dir_budget["budget"] > 100000000, ["director_name"]]

In [30]:
names

                   director_name
2    Alejandro González Iñárritu
3                    Alex Proyas
5                 Andrew Adamson
10                       Ang Lee
15              Barry Sonnenfeld
..                           ...
185                    Tim Story
187                  Tom Shadyac
188                   Tom Tykwer
195            Wolfgang Petersen
197                  Zack Snyder

[79 rows x 1 columns]

In [31]:
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male

In [32]:
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male

In [33]:
data.loc[data["director_name"].isin(names['director_name'])]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,1979,Apr,Thursday,George Miller,Male
1451,48268,200000,13,4505922,Swingers,6.8,253,1996,Oct,Friday,Doug Liman,Male
1452,48274,0,5,2611555,Three,6.3,31,2010,Dec,Thursday,Tom Tykwer,Male
1458,48335,60000,27,3221152,Pi,7.1,586,1998,Jul,Friday,Darren Aronofsky,Male
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male

In [34]:
#lambda

In [35]:
def cube_n(a):
  return a**3

In [36]:
ans = cube_n(4)
print(ans)

64

In [37]:
a = lambda x: x ** 3

In [38]:
a(3)

27

In [39]:
a(4)

64

In [40]:
a(2)

8

In [41]:
#power(a,b) --> a**b

In [42]:
power = lambda a, b : a**b

In [43]:
power(2,3)

8

In [44]:
power(3,2)

9

In [45]:
#write a lambda function that takes 3 values and returns the sum of those 3 values

In [46]:
sum = lambda a, b, c: a+b+c

In [47]:
sum(3,5,1)

9

In [48]:
sum(2,4,1)

7

In [49]:
#Lambda functions are also known as anonymous functions

In [50]:
(lambda a, b, c: a+b+c)(3,2,1)

6

In [51]:
(lambda x: x**3)(4)

64

In [52]:
#Given a number, return 1 if its > 5 else return 0

In [53]:
def check(n):
  if n > 5:
    return 1
  else:
    return 0

In [54]:
check = lambda n: 1 if n > 5 else 0

In [55]:
check(7)

1

In [56]:
check(3)

0

In [57]:
#map

In [58]:
a = [4, 5, 1,2]
# op: [16, 25, 1, 4]

In [59]:
ans = []

for elem in a:
  ans.append(elem**2)

print(ans)

[16, 25, 1, 4]

In [60]:
#syntax: map(function_to_perform, iterables)

In [61]:
def square_n(x):
  return x**2

In [62]:
a = [1, 5, 7, 9]

In [63]:
m = list(map(square_n, a))

In [64]:
print(m)

[1, 25, 49, 81]

In [65]:
print(list(map(lambda x: x**2, a)))

[1, 25, 49, 81]

In [66]:
#filter

In [67]:
a = list(range(1,11))

In [68]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
f = list(filter(lambda x: x%2 == 0, a))

In [70]:
print(f)

[2, 4, 6, 8, 10]

In [71]:
#write a filter - to have only > 0 values in the input

a = [9 , -2, -3, 7, -4, 1]
# op: [9, 7, 1]

In [72]:
list(filter(lambda x: x > 0, a))

[9, 7, 1]

In [73]:
data.groupby("director_name").filter( lambda x: x["budget"].max() > 100000000)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,1979,Apr,Thursday,George Miller,Male
1451,48268,200000,13,4505922,Swingers,6.8,253,1996,Oct,Friday,Doug Liman,Male
1452,48274,0,5,2611555,Three,6.3,31,2010,Dec,Thursday,Tom Tykwer,Male
1458,48335,60000,27,3221152,Pi,7.1,586,1998,Jul,Friday,Darren Aronofsky,Male
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male

In [74]:
#task: categorise a movie as risky or not risky

In [75]:
def check_risky(df):
  risky_flag =  df["budget"] >= df["revenue"].mean()
  df["risky"] = risky_flag
  return df

In [76]:
data_risky = data.groupby("director_name").apply(check_risky)

<ipython-input-76-097a060d188f>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  data_risky = data.groupby("director_name").apply(check_risky)

In [77]:
data_risky.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,risky
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,False
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,False
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,False
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,False
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,False

In [78]:
data_risky.loc[data_risky["risky"] == True]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,risky
7,43608,200000000,107,586090727,Quantum of Solace,6.1,2965,2008,Oct,Thursday,Marc Forster,Male,True
12,43614,380000000,135,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,2011,May,Saturday,Rob Marshall,Male,True
15,43618,200000000,37,310669540,Robin Hood,6.2,1398,2010,May,Wednesday,Ridley Scott,Male,True
20,43624,209000000,64,303025485,Battleship,5.5,2114,2012,Apr,Wednesday,Peter Berg,Male,True
24,43630,210000000,3,459359555,X-Men: The Last Stand,6.3,3525,2006,May,Wednesday,Brett Ratner,Male,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,47224,5000000,7,3263585,The Sweet Hereafter,6.8,103,1997,May,Wednesday,Atom Egoyan,Male,True
1349,47229,5000000,3,4842699,90 Minutes in Heaven,5.4,40,2015,Sep,Friday,Michael Polish,Male,True
1351,47233,5000000,6,0,Light Sleeper,5.7,15,1992,Aug,Friday,Paul Schrader,NaN,True
1356,47263,15000000,10,0,Dying of the Light,4.5,118,2014,Dec,Thursday,Paul Schrader,NaN,True
1383,47453,3500000,4,0,In the Name of the King III,3.3,19,2013,Dec,Friday,Uwe Boll,Male,True

In [79]:
data["director_name"].value_counts()

Steven Spielberg      26
Martin Scorsese       19
Clint Eastwood        19
Woody Allen           18
Ridley Scott          16
                      ..
Tim Hill               5
Jonathan Liebesman     5
Roman Polanski         5
Larry Charles          5
Nicole Holofcener      5
Name: director_name, Length: 199, dtype: int64

In [83]:
data.groupby("director_name")["title"].count()

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [81]:
data.groupby("director_name")["title"].count().sort_values()

director_name
Kevin Reynolds       5
George Clooney       5
Gavin O'Connor       5
Gary Winick          5
Michael Apted        5
                    ..
Spike Lee           16
Woody Allen         18
Clint Eastwood      19
Martin Scorsese     19
Steven Spielberg    26
Name: title, Length: 199, dtype: int64

In [82]:
data.groupby("director_name")["title"].count().sort_values(ascending = False)

director_name
Steven Spielberg    26
Clint Eastwood      19
Martin Scorsese     19
Woody Allen         18
Robert Rodriguez    16
                    ..
Paul Weitz           5
John Madden          5
Paul Verhoeven       5
John Whitesell       5
Kevin Reynolds       5
Name: title, Length: 199, dtype: int64

In [84]:
#Most productive director --> no.of movies / yr

In [85]:
data.groupby("director_name")["year"].aggregate(["min" , "max"])

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [86]:
data_agg = data.groupby("director_name")[ ["year" , "title"] ].aggregate(
    {
      "year" : ["min" , "max"] ,
     "title" : "count"}
    )

In [87]:
data_agg.head()

                             year       title
                              min   max count
director_name
Adam McKay                   2004  2015     6
Adam Shankman                2001  2012     8
Alejandro González Iñárritu  2000  2015     6
Alex Proyas                  1994  2016     5
Alexander Payne              1999  2013     5

In [88]:
data_agg.columns

MultiIndex([( 'year',   'min'),
            ( 'year',   'max'),
            ('title', 'count')],
           )

In [89]:
data_agg["year"]

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [94]:
data_agg.columns = [ "_".join(col) for col in data_agg.columns]

In [90]:
a = ["you" , "guys" , "are" , "awesome"]

In [91]:
ans = " ".join(a)

In [98]:
ans = "_".join(a)

In [99]:
print(ans)

you_guys_are_awesome

In [95]:
data_agg.columns

Index(['year_min', 'year_max', 'title_count'], dtype='object')

In [96]:
data_agg.head()

                             year_min  year_max  title_count
director_name
Adam McKay                       2004      2015            6
Adam Shankman                    2001      2012            8
Alejandro González Iñárritu      2000      2015            6
Alex Proyas                      1994      2016            5
Alexander Payne                  1999      2013            5

In [97]:
data_agg.reset_index()

                   director_name  year_min  year_max  title_count
0                     Adam McKay      2004      2015            6
1                  Adam Shankman      2001      2012            8
2    Alejandro González Iñárritu      2000      2015            6
3                    Alex Proyas      1994      2016            5
4                Alexander Payne      1999      2013            5
..                           ...       ...       ...          ...
194                   Wes Craven      1984      2011           10
195            Wolfgang Petersen      1981      2006            7
196                  Woody Allen      1977      2013           18
197                  Zack Snyder      2004      2016            7
198                  Zhang Yimou      2002      2014            6

[199 rows x 4 columns]

In [ ]:
data_agg = data.groupby("director_name")[ ["year" , "title"] ].aggregate(
    {
      "year" : ["min" , "max"] ,
     "title" : "count"}
    )

In [100]:
data_agg = data.groupby("director_name")[ ["year" , "title"]].aggregate(
year_min = ('year', 'min'),
year_max = ('year' , 'max'),
title_count = ('title', 'count')

)

In [101]:
data_agg.head()

                             year_min  year_max  title_count
director_name
Adam McKay                       2004      2015            6
Adam Shankman                    2001      2012            8
Alejandro González Iñárritu      2000      2015            6
Alex Proyas                      1994      2016            5
Alexander Payne                  1999      2013            5

In [102]:
data_agg.reset_index()

                   director_name  year_min  year_max  title_count
0                     Adam McKay      2004      2015            6
1                  Adam Shankman      2001      2012            8
2    Alejandro González Iñárritu      2000      2015            6
3                    Alex Proyas      1994      2016            5
4                Alexander Payne      1999      2013            5
..                           ...       ...       ...          ...
194                   Wes Craven      1984      2011           10
195            Wolfgang Petersen      1981      2006            7
196                  Woody Allen      1977      2013           18
197                  Zack Snyder      2004      2016            7
198                  Zhang Yimou      2002      2014            6

[199 rows x 4 columns]

In [105]:
data_agg["years_active"] = data_agg["year_max"] - data_agg["year_min"]  + 1

In [106]:
data_agg.head()

                             year_min  year_max  title_count  years_active
director_name
Adam McKay                       2004      2015            6            12
Adam Shankman                    2001      2012            8            12
Alejandro González Iñárritu      2000      2015            6            16
Alex Proyas                      1994      2016            5            23
Alexander Payne                  1999      2013            5            15

In [107]:
data_agg["movie_per_yr"] = data_agg["title_count"]/data_agg["years_active"]

In [109]:
data_agg.head(30)

,year_min,year_max,title_count,years_active,movie_per_yr
director_name,,,,,
Adam McKay,2004,2015,6,12,0.500000
Adam Shankman,2001,2012,8,12,0.666667
Alejandro González Iñárritu,2000,2015,6,16,0.375000
Alex Proyas,1994,2016,5,23,0.217391
Alexander Payne,1999,2013,5,15,0.333333
Andrew Adamson,2001,2012,5,12,0.416667
Andrew Niccol,1997,2015,5,19,0.263158
Andrzej Bartkowiak,2000,2009,5,10,0.500000
Andy Fickman,2006,2015,6,10,0.600000
Andy Tennant,1998,2010,6,13,0.461538
Ang Lee,1995,2012,8,18,0.444444
Anne Fletcher,2006,2015,5,10,0.500000
Antoine Fuqua,1998,2015,8,18,0.444444
Atom Egoyan,1994,2009,6,16,0.375000
Barry Levinson,1982,2008,13,27,0.481481
Barry Sonnenfeld,1991,2012,7,22,0.318182
Ben Stiller,1996,2016,5,21,0.238095
Bill Condon,1998,2013,5,16,0.312500
Bobby Farrelly,1994,2014,11,21,0.523810
Brad Anderson,1998,2013,5,16,0.312500
Brett Ratner,1997,2014,9,18,0.500000
Brian De Palma,1980,2007,12,28,0.428571
Brian Helgeland,1999,2015,5,17,0.294118
Brian Levant,1994,2010,6,17,0.352941
Brian Robbins,1999,2012,6,14,0.428571
Bryan Singer,1995,2016,8,22,0.363636
Cameron Crowe,1996,2015,6,20,0.300000
Catherine Hardwicke,2003,2013,6,11,0.545455
Chris Columbus,1990,2015,11,26,0.423077
Chris Weitz,1999,2011,6,13,0.461538

In [110]:
data_agg.sort_values("movie_per_yr", ascending = False)

                  year_min  year_max  title_count  years_active  movie_per_yr
director_name
Tyler Perry           2006      2013            9             8      1.125000
Jason Friedberg       2006      2010            5             5      1.000000
Shawn Levy            2002      2014           11            13      0.846154
Robert Rodriguez      1992      2014           16            23      0.695652
Adam Shankman         2001      2012            8            12      0.666667
...                    ...       ...          ...           ...           ...
Lawrence Kasdan       1985      2012            5            28      0.178571
Luc Besson            1985      2014            5            30      0.166667
Michael Apted         1980      2010            5            31      0.161290
Sidney Lumet          1976      2006            5            31      0.161290
Robert Redford        1980      2010            5            31      0.161290

[199 rows x 5 columns]

In [111]:
!gdown 173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ

Downloading...
From: https://drive.google.com/uc?id=173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ
To: /content/Pfizer_1.csv
100% 1.51k/1.51k [00:00<00:00, 8.56MB/s]